doctype html
html
  head
    title= subject
  body
    div(style="padding: 20px; color: #58A073; text-align: center;")
      img(src="http://www.thegreenvintage.com/assets/images/logos/logo.png", width="100")
      h2= subject
      br
      p(style="color: #555; font-style: italic; text-align: left") Telf: #{telephone}
      br
      p(style="color: #555; font-style: italic; text-align: left")= message

